title: Thunderspy Gaming
timezone: UTC
url: "https://thunderspygaming.com/"
theme: 
plugins:
  - jekyll-feed
  
languages: ["en", "fr", "es", "jp"]

collections:    
  highlights:
    title: Highlights
    output: false

  galleryvideos:
    title: Gallery Videos
    output: false

  galleryimages:
    title: Gallery Images
    output: false

  patchnotes:
    title: Patch Notes
    output: true
    permalink: /:collection/:name

  guides:
    title: Guides
    output: true
    permalink: /:collection/:name

defaults:
  -
    scope:
      path: "/patchnotes"
    values:
      layout: "inner"
  -
    scope:
      type: "patchnotes"
    values:
      layout: "patchnote"
  -
    scope:
      path: "/guides"
    values:
      layout: "inner"
  -
    scope:
      type: "guides"
    values:
      layout: "guide"

feed:
  collections:
    patchnotes:
      path: "/patchnotes.xml"