{% assign guidesbycat = site.guides | group_by: "category" %}
<div class="guidenav collapsed">
    <div class="collapsetoggle">
        <i class="far fa-caret-square-up"></i>
        <i class="far fa-caret-square-down"></i>
    </div>
    {% for category in guidesbycat %}
        <div class="guidecategory {{ category.name | slugify }}">
            <span>{{ category.name }}</span>
            {% assign sortedguides = category.items | sort: 'order' %}
            {% for guide in sortedguides %}
                <a class="noglow selector {% if page.url == guide.url or page.url == "/guides.html" and guide.title == "Installation" %}selected{% endif %}" href="{{ guide.url }}">{% include multilingual_title.html article=guide %}</a>
            {% endfor %}
        </div>
    {% endfor %}
</div>