{% assign guidesbycat = site.guides | group_by: "category" %}
<div class="guidenav">
    {% for category in guidesbycat %}
        <div class="guidecategory {{ category.name | slugify }}">
            <span>{{ category.name }}</span>
            {% assign sortedguides = category.items | sort: 'order' %}
            {% for guide in sortedguides %}
                <a class="noglow selector {% if page.url == guide.url or page.url == "/guides.html" and guide.title == "Installation" %}selected{% endif %}" href="{{ guide.url }}">{{ guide.title }}</a>
            {% endfor %}
        </div>
    {% endfor %}
</div>