<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<link rel="icon" type="image/png" href="{{ site.data.meta.favicon }}">
<link rel="stylesheet" type="text/css" href='/coxg.css?{{site.time | date: "%s%N"}}'> {% comment %} the ? is a temporary cache buster {% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/brands.min.css" integrity="sha512-58P9Hy7II0YeXLv+iFiLCv1rtLW47xmiRpC1oFafeKNShp8V5bKV/ciVtYqbk2YfxXQMt58DjNfkXFOn62xE+g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Primary Meta Tags -->
{% capture title %} 
    {% if page.url == "/" %}
        City of Heroes: Thunderspy
    {% else %}
        City of Heroes: Thunderspy - {{ page.title }}
    {% endif %}
{% endcapture %}
{% assign title = title | strip %}

{% capture description %}
    {% if page.description %}
        {{ page.description }}
    {% else %}
        {{ site.data.meta.description }}
    {% endif %}
{% endcapture %}
{% assign description = description | strip %}

<title>{{ title }}</title>
<meta name="title" content="{{ title }}">
<meta name="description" content="{{ description }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://thunderspy.net">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="https://thunderspy.net/img/thundersplash.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://thunderspy.net">
<meta property="twitter:title" content="{{ title }}">
<meta property="twitter:description" content="{{ description }}">
<meta property="twitter:image" content="https://thunderspy.net/img/thundersplash.png">
