<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<link rel="icon" type="image/png" href="{{ site.data.meta.favicon }}">

<!-- Primary Meta Tags -->
{% if page.url == "/" %}
    <title>Thunderspy Gaming - A City of Heroes Private Server</title>
    <link rel="stylesheet" type="text/css" href="./coxg.css">	
{% elsif page.title %}
    <title>{{ page.title }} - Thunderspy Gaming</title>
    <link rel="stylesheet" type="text/css" href="../coxg.css">	
{% endif %}
<meta name="title" content="Thunderspy Gaming - A City of Heroes Private Server">
<meta name="description" content="{{ site.data.meta.description }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://thunderspygaming.net">
<meta property="og:title" content="Thunderspy Gaming - A City of Heroes Private Server">
<meta property="og:description" content="{{ site.data.meta.description }}">
<meta property="og:image" content="https://eccentric.monster/tspy/img/thundersplash.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://thunderspygaming.net">
<meta property="twitter:title" content="Thunderspy Gaming - A City of Heroes Private Server">
<meta property="twitter:description" content="{{ site.data.meta.description }}">
<meta property="twitter:image" content="https://eccentric.monster/tspy/img/thundersplash.png">

<script src="https://kit.fontawesome.com/ff46203259.js" crossorigin="anonymous"></script>