<div class="blognav">
    {% assign sortednotes = site.news | sort: 'date' | reverse %}
    {% assign notesbyyearmonth = sortednotes | group_by_exp: "notes", "notes.date | date: '%Y-%m_%B %Y'" %}
    <h2 class="motto">{% include multilingual_custom.html key="news_title" article=site.data.localization md=false %}</h2>
    {% for yearmonth in notesbyyearmonth %}
        <div class="bloggroup">
            {% assign bloggroupname = yearmonth.name | split: "_" %}
            <span class="motto">{{ bloggroupname[1] }}</span>
            {% for note in yearmonth.items %}
                <a class="noglow {% if page.url == note.url %}currentpage{% endif %}" href="{{ note.url }}">{% include multilingual_title.html article=note %}</a>
            {% endfor %}
        </div>
    {% endfor %}
</div>
