<div class="patchnav">
    {% assign sortednotes = site.patchnotes | sort: 'date' | reverse %}
    {% assign notesbyyearmonth = sortednotes | group_by_exp: "notes", "notes.date | date: '%Y-%m_%B %Y'" %}
    <h2 class="motto">Patch History</h2>
    {% for yearmonth in notesbyyearmonth %}
        <div class="patchgroup">
            {% assign patchgroupname = yearmonth.name | split: "_" %}
            <span class="motto">{{ patchgroupname[1] }}</span>
            {% for note in yearmonth.items %}
                <a class="noglow {% if page.url == note.url %}currentpage{% endif %}" href="{{ note.url }}">{{ note.title }}</a>
            {% endfor %}
        </div>
    {% endfor %}
</div>