<div class="patchbox">
    <a href="{{ notes.url }}" class="patchtitle noglow">
        <div class="patchimg lazy" style="background-image:url({{ notes.icon }})"></div>
        <h3>{{ notes.title }}</h3>
        {% assign date = notes.date | split: " " %}

        <h4>Patch notes for {{ date[0] | date_to_long_string: "ordinal" }}</h4>
    </a>

    <div class="patchbody md">
        {{ notes.content | replace: "h5", "h6" | replace: "h4", "h5"| replace: "h3", "h4"| replace: "h2", "h3"| replace: "h1", "h2" | replace: "<img ", "<img loading='lazy' "}} {% comment %} > to fix syntax highlighting {% endcomment %}
        {% comment %} this probably seems like a really strange replace, I just don't want another H1 to mess up da SEO {% endcomment %}
    </div>
</div>