<div class="media-display">
    <div class="media-bg"></div>
    <div class="video-container">
      <div class="video-wrapper">
        <div class="media-close"></div>
        <iframe width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  
    <div class="gallery-container">
      <div class="media-close"></div>
      <img class="gallery-image">
    </div>
  </div>

<script src="/global.js"></script>