{% assign ordered_videos = site.galleryvideos | sort:"order" %}
{% assign ordered_images = site.galleryimages | sort:"order" | reverse %}

<section id="media" class="infosection">
    
{% if ordered_images.size > 0 %}
    <h2 class="motto title">Media</h2>
    <div class="width-container">
        {% assign ordered_videos = site.galleryvideos | sort:"order" %}

        <div class="videos">
            <div class="highlighted-video">
                <div><div class="video-wrapper"><span class="vid-opener" data-vid="{{ ordered_videos.first.content | strip_html | strip }}"></span></div></div>
            </div>
            {% if ordered_videos.size > 1 %}
            <div class="video-listing">
                {% for video in ordered_videos offset:1 %}
                <div><div class="video-wrapper"><span class="vid-opener" data-vid="{{ video.content | strip_html | strip }}"></span></div></div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
{% endif %}

{% if ordered_images.size > 0 %}
    <h2 class="motto">Screenshots</h2>
    <div class="width-container">
        <div class="gallery">
            {% for img in ordered_images %}
            <div><div class="image-opener lazy" style="background-image:url({{ img.image }})"></div></div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
            
<div class="media-display">
  <div class="media-bg"></div>
  <div class="video-container">
    <div class="video-wrapper">
      <div class="media-close"></div>
      <iframe width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="gallery-container">
    <div class="media-close"></div>
    <img class="gallery-image">
  </div>
</div>