<section id="newstuff" class="infosection">
    <h2 class="motto title">{% include multilingual_custom.html key="hometitle_newstuff" article=site.data.localization md=false %}</h2>
    <div class="width-container selection-container">
        {% assign ordered_highlights = site.highlights | sort:"order" %}

        <div class="selection">
            {% for highlight in ordered_highlights %}
                <div class="selector {% if forloop.index == 1 %} selected {% endif %}" highlights="{{ highlight.title | slugify }}">
                    {% include multilingual_title.html article=highlight %}
                </div>
            {% endfor %}
        </div>

        <div class="highlight-images">
            {% for highlight in ordered_highlights %}
                <div class="image-container highlight-section highlight-{{ highlight.title | slugify }} {% if forloop.index == 1 %} highlighted {% endif %}">
                    <div class="image lazy scanlines" style="background-image: url({{ highlight.image }})"></div>
                </div>
            {% endfor %}
        </div>

        <div class="selection-info">
            {% for highlight in ordered_highlights %}
                <div class="highlight-section highlight-{{ highlight.title | slugify }} {% if forloop.index == 1 %} highlighted {% endif %}">
                    <span class="selection-title">{% include multilingual_title.html article=highlight %}</span>
                    <div class="selection-description md">
                        {% include multilingual_content.html article=highlight %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <span class="cta-container">
        <h2 class="motto">{% include multilingual_custom.html key="hometitle_newstuff_moreinfo" article=site.data.localization md=false %}</h2>
        <div>
            <a href="/guides" class="cta smaller guidelink">GUIDES</a>
            <a href="/patchnotes" class="cta smaller">PATCH NOTES</a>
        </div>
    </span>
</section>