<section id="media" class="infosection">
    <h2 class="motto title">Videos</h2>

    <div class="width-container">
        <div class="videos">
            <div class="highlighted-video">
                <div><div class="video-wrapper"><span class="vid-opener" data-vid="Aqb-qH7mwrE"></span></div></div>
            </div>
            <div class="video-listing">
                <div><div class="video-wrapper"><span class="vid-opener" data-vid="Aqb-qH7mwrE"></span></div></div>
                <div><div class="video-wrapper"><span class="vid-opener" data-vid="Aqb-qH7mwrE"></span></div></div>
                <div><div class="video-wrapper"><span class="vid-opener" data-vid="Aqb-qH7mwrE"></span></div></div>
                <div><div class="video-wrapper"><span class="vid-opener" data-vid="Aqb-qH7mwrE"></span></div></div>
            </div>
        </div>
    </div>

    <h2 class="motto title">Gallery</h2>

    <div class="width-container">
        <div class="gallery">
            <div><div class="image-opener lazy" style="background-image:url(https://tspydev.eccentric.monster/img/aokk.gif)"></div></div>
            <div><div class="image-opener lazy" style="background-image:url(http://localhost:4000/img/coxgrecolor.jpg)"></div></div>
            <div><div class="image-opener lazy" style="background-image:url(http://localhost:4000/img/coxgrecolor.jpg)"></div></div>
            <div><div class="image-opener lazy" style="background-image:url(http://localhost:4000/img/coxgrecolor.jpg)"></div></div>
        </div>
    </div>
</section>
            
<div class="media-display">
  <div class="media-bg"></div>
  <div class="video-container">
    <div class="video-wrapper">
      <div class="media-close"></div>
      <iframe width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="gallery-container">
    <div class="media-close"></div>
    <img class="gallery-image">
  </div>
</div>