{% assign ordered_videos = site.galleryvideos | sort:"order" %}
{% assign ordered_images = site.galleryimages | sort:"order" | reverse %}

<section id="media" class="infosection">
    
{% if ordered_images.size > 0 %}
    <h2 class="motto title">{% include multilingual_custom.html key="hometitle_media" article=site.data.localization md=false %}</h2>
    <div class="width-container">
        {% assign ordered_videos = site.galleryvideos | sort:"order" %}

        <div class="videos">
            <div class="highlighted-video">
                <div><div class="video-wrapper"><span class="vid-opener" data-vid="{{ ordered_videos.first.content | strip_html | strip }}"></span></div></div>
            </div>
            {% if ordered_videos.size > 1 %}
            <div class="video-listing">
                {% for video in ordered_videos offset:1 %}
                <div><div class="video-wrapper"><span class="vid-opener" data-vid="{{ video.content | strip_html | strip }}"></span></div></div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
{% endif %}

{% if ordered_images.size > 0 %}
    <h2 class="motto">Screenshots</h2>
    <div class="width-container">
        <div class="gallery">
            {% for img in ordered_images %}
            <div><div class="image-opener lazy" style="background-image:url({{ img.image }})"></div></div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}