<section class="infosection" id="policies">
    <div class="width-container">
        <div class="policybox">
            <h3 class="motto">{% include multilingual_custom.html key="hometitle_policies_coc" article=site.data.localization md=false %}</h3>
            {% include multilingual_custom.html key="coc" article=site.data.policies md=true %}
        </div>

        <div class="policybox">
            <h3 class="motto">{% include multilingual_custom.html key="hometitle_policies_tos" article=site.data.localization md=false %}</h3>
            {% include multilingual_custom.html key="tos" article=site.data.policies md=true %}
        </div>
    </div>

    <div class="qachan">
        <img src="./img/qachan.png" alt="QA Chan"> <span>QA-CHAN APPROVED</span>
    </div>
</section>