<section class="infosection" id="policies">
    <div class="width-container">
        <div class="policybox">
            <h3 class="motto">Code of Conduct</h3>
            {{ site.data.policies.coc | markdownify}}
        </div>

        <div class="policybox">
            <h3 class="motto">Terms of Service</h3>
            {{ site.data.policies.tos | markdownify}}
        </div>
    </div>

    <div class="qachan">
        <img src="./img/qachan.png" alt="QA Chan"> <span>PENDING QA-CHAN APPROVAL</span>
    </div>

	<a id="credit-link" href="https://corru.works/" class="noglow" target="_blank"><i></i></a>
</section>