<section id="play" class="infosection">
    <div class="bg">
        <div class="city"></div>
    </div>

    <h2 class="motto title">PLAY NOW</h2>
    <div class="width-container play-container">
        <div class="playpanel md">
            <h3 class="motto">How To play</h3>
            {% include multilingual_custom.html key="body" article=site.data.howtoplay md=true %}

            <p style="margin-top: 1em;">For further information on gameplay and other changes, check out our guides!</p>
            <span class="cta-container">
                <div>
                    <a href="/guides" class="cta smaller guidelink">GUIDES</a>
                </div>
            </span>
        </div>

        <div class="playpanel">
            <h3 class="motto">Accounts</h3>
            <div class="accountstuff">
                <div class="accountsection">
                    <h4 class="selector">Create an Account</h4>
                    <form action="account.php" method="POST">
                        <input type="text" placeholder="user name" name="name">
                        <input type="text" placeholder="email (optional)" name="email">
                        <input type="password" placeholder="password" name="password">
                        <input type="password" placeholder="repeat password" name="repeat">
                        <input type="submit" name="create_account" value="Create">
                    </form>
                </div>
    
                <div class="accountsection">
                    <h4 class="selector">Reset Password</h4>
                    <form action="account.php" method="POST">
                        <input type="text" placeholder="user name" name="name">
                        <input type="text" placeholder="email" name="email">
                        <input type="submit" name="reset_password" value="Reset">
                    </form>
                </div>
    
                <div class="accountsection">
                    <h4 class="selector">Change Password</h4>
                    <form action="account.php" method="POST">
                        <input type="text" placeholder="user name" name="name">
                        <input type="password" placeholder="old password" name="oldpass">
                        <input type="password" placeholder="new password" name="newpass">
                        <input type="password" placeholder="repeat password" name="repeat">
                        <input type="submit" name="change_password" value="Change">
                    </form>
                </div>
            </div>
        </div>

        <div class="playpanel about md">
            <h3 class="motto">About Us</h3>		
            {% include multilingual_custom.html key="main" article=site.data.aboutus md=true %}
            <div class="support">
                {% include multilingual_custom.html key="support" article=site.data.aboutus md=true %}
            </div>
        </div>
    </div>
</section>