<div id="socials">
    <a href="https://discord.gg/cityofvillains" target="_blank" name="Discord"><i class="fab fa-discord"></i></a>
    <a href="https://twitter.com/Tspygaming_COH" target="_blank" name="Twitter"><i class="fab fa-twitter"></i></a>
    <a href="https://www.patreon.com/coxg" target="_blank" class="supportlink" name="Support on Patreon"><i class="fab fa-patreon"></i></a>

    <div id="lang">
        <select>
            <option value="en">English</option>
            <option value="es">Español</option>
            <option value="fr">Français</option>
            <option value="jp">日本語</option>
        </select>
    </div>
</div>
