<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="./coxg.css">	
	<link rel="icon" type="image/png" href="{{ site.data.meta.favicon }}">

	<!-- Primary Meta Tags -->
	<title>Thunderspy Gaming - A City of Heroes Private Server</title>
	<meta name="title" content="Thunderspy Gaming - A City of Heroes Private Server">
	<meta name="description" content="{{ site.data.meta.description }}">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://thunderspygaming.net">
	<meta property="og:title" content="Thunderspy Gaming - A City of Heroes Private Server">
	<meta property="og:description" content="{{ site.data.meta.description }}">
	<meta property="og:image" content="https://eccentric.monster/tspy/img/thundersplash.png">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://thunderspygaming.net">
	<meta property="twitter:title" content="Thunderspy Gaming - A City of Heroes Private Server">
	<meta property="twitter:description" content="{{ site.data.meta.description }}">
	<meta property="twitter:image" content="https://eccentric.monster/tspy/img/thundersplash.png">
    
    <script src="https://kit.fontawesome.com/ff46203259.js" crossorigin="anonymous"></script>
</head>

<body class="loading starting-intro">    
	<div id="socials">
		<a href="https://discord.gg/nDJgMeSCvt" target="_blank" name="Discord"><i class="fab fa-discord"></i></a>
		<a href="https://thunderspygaming.boards.net/" target="_blank" name="Forums"><i class="far fa-comments"></i></a>
		<a href="https://twitter.com/Tspygaming_COH" target="_blank" name="Twitter"><i class="fab fa-twitter"></i></a>
		<a href="https://www.patreon.com/coxg" target="_blank" class="supportlink" name="Support on Patreon"><i class="fab fa-patreon"></i></a>
		<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7NJGYSECLWZZ6&source=url" target="_blank" class="supportlink" name="Support with Paypal"><i class="fab fa-paypal"></i></a>
	</div>

	<section id="splash">
		<div class="bg">
			<div class="logo"></div>
			<div class="logo flip"></div>

			<div class="city"><div class="tower"></div></div>
			<div class="city flip"><div class="tower"></div></div>

			<div class="road">
				<div class="roadlines"></div>
			</div>
		</div>

		<h1 class="h1" t="THUNDERSPY">THUNDERSPY</h1>
		<h2 class="h1 flip" t="THUNDERSPY">THUNDERSPY</h2>

		<div class="ctas">
			<span class="motto">{{ site.data.mottos.largermotto }}</span>
			<span class="cta-container">
				<a href="#newstuff" class="cta">WHAT'S NEW?</a>
				<a href="#play" class="cta playnow">PLAY NOW</a>
			</span>
			<span class="motto">{{ site.data.mottos.smallermotto }}</span>
		</div>
	</section>

	<section id="newstuff" class="infosection">
		<h2 class="motto">NEW &amp; IMPROVED CONTENT</h2>
		<div class="width-container selection-container">
			{% assign ordered_highlights = site.highlights | sort:"order" %}

			<div class="selection">
				{% for highlight in ordered_highlights %}
					<div class="selector {% if forloop.index == 1 %} selected {% endif %}" highlights="{{ highlight.title | slugify }}">
						{{ highlight.title}}
					</div>
				{% endfor %}
			</div>

			<div class="highlight-images">
				{% for highlight in ordered_highlights %}
					<div class="image-container highlight-section highlight-{{ highlight.title | slugify }} {% if forloop.index == 1 %} highlighted {% endif %}">
						<div class="image" style="background-image: url({{ highlight.image }})"></div>
					</div>
				{% endfor %}
			</div>

			<div class="selection-info">
				{% for highlight in ordered_highlights %}
					<div class="highlight-section highlight-{{ highlight.title | slugify }} {% if forloop.index == 1 %} highlighted {% endif %}">
						<span class="selection-title">{{ highlight.title }}</span>
						<div class="selection-description">
							{{ highlight.content | markdownify }}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section id="play" class="infosection">
		<div class="bg">
			<div class="city"></div>
		</div>

		<h2 class="motto title">PLAY NOW</h2>
		<div class="width-container play-container">
			<div class="playpanel">
				<h3 class="motto">How To play</h3>
				{{ site.data.howtoplay.body | markdownify}}
			</div>

			<div class="playpanel">
				<h3 class="motto">Accounts</h3>
				<div class="accountstuff">
					<div class="accountsection">
						<h4 class="selector">Create an Account</h4>
						<form action="account.php" method="POST">
							<input type="text" placeholder="user name" name="name">
							<input type="text" placeholder="email (optional)" name="email">
							<input type="password" placeholder="password" name="password">
							<input type="password" placeholder="repeat password" name="repeat">
							<input type="submit" name="create_account" value="Create">
						</form>
					</div>
		
					<div class="accountsection">
						<h4 class="selector">Reset Password</h4>
						<form action="account.php" method="POST">
							<input type="text" placeholder="user name" name="name">
							<input type="text" placeholder="email" name="email">
							<input type="submit" name="reset_password" value="Reset">
						</form>
					</div>
		
					<div class="accountsection">
						<h4 class="selector">Change Password</h4>
						<form action="account.php" method="POST">
							<input type="text" placeholder="user name" name="name">
							<input type="password" placeholder="old password" name="oldpass">
							<input type="password" placeholder="new password" name="newpass">
							<input type="password" placeholder="repeat password" name="repeat">
							<input type="submit" name="change_password" value="Change">
						</form>
					</div>
				</div>
			</div>

			<div class="playpanel about">
				<h3 class="motto">About Us</h3>		
				{{ site.data.aboutus.body | markdownify}}
				<div class="support">
					{{ site.data.supportus.body | markdownify}}
				</div>
			</div>
		</div>
	</section>

	<footer class="infosection">
		<div class="width-container">
			<div class="policybox">
				<h3 class="motto">Code of Conduct</h3>
				{{ site.data.codeofconduct.body | markdownify}}
			</div>

			<div class="policybox">
				<h3 class="motto">Terms of Service</h3>
				{{ site.data.termsofservice.body | markdownify}}
			</div>
		</div>

		<div class="qachan">
			<img src="./img/qachan.png" alt="QA Chan"> <span>PENDING QA-CHAN APPROVAL</span>
		</div>
	</footer>

	<script>
		function onLoaded(fn) {
			document.addEventListener("DOMContentLoaded", fn)
			if (document.readyState === "interactive" ||document.readyState === "complete" ) {fn()}
		}

		onLoaded(() => {
			setTimeout(()=>{
				document.querySelector('body').classList.remove('loading')
			}, 200)

			setTimeout(()=>{
				document.querySelector('body').classList.remove('starting-intro')
				document.querySelector('body').classList.add('intro')
			}, 1800)

			setTimeout(()=>{
				document.querySelector('body').classList.remove('intro')
			}, 4200)
		})

		//when people click the highlight selector, swap the image and text being shown by toggling the highlighted class
		let newStuffSelectors = document.querySelectorAll("#newstuff .selector")
		for (let i = 0; i < newStuffSelectors.length; i++) {
			const selector = newStuffSelectors[i];

			selector.addEventListener('mousedown', function(){
				let oldSelect = document.querySelector('#newstuff .selector.selected')
				if(oldSelect) {
					oldSelect.classList.remove('selected')
					let oldHighlight = oldSelect.getAttribute('highlights')
					
					//remove any old highlight
					let oldHighlightElements = document.querySelectorAll(`.highlight-${oldHighlight}`).forEach(e => e.classList.remove('highlighted'))
				}

				selector.classList.add('selected')
				document.querySelectorAll(`.highlight-${selector.getAttribute('highlights')}`).forEach(e => e.classList.add('highlighted'))
			})			
		}

		let accountSelectors = document.querySelectorAll(".accountstuff .selector")
		for (let i = 0; i < accountSelectors.length; i++) {
			const selector = accountSelectors[i];
			selector.addEventListener('mousedown', function(){
				let oldSelect = document.querySelector('.accountstuff .selector.selected')
				if(oldSelect) {
					oldSelect.classList.remove('selected')
					oldSelect.nextElementSibling.classList.remove('active')
				}

				selector.classList.add('selected')
				selector.nextElementSibling.classList.add('active')
			})			
		}
	</script>
</body>
</html>