<!DOCTYPE html>
<html lang="en">
<head>
	{% include meta.html %}
</head>

<body class="loading starting-intro homepage">    
	{% include socials.html %}

	<section id="splash">
		<div class="bg">
			<div class="logo"></div>
			<div class="logo flip"></div>

			<div class="city"><div class="tower"></div></div>
			<div class="city flip"><div class="tower"></div></div>

			<div class="road">
				<div class="roadlines"></div>
			</div>
		</div>

		<h1 class="h1" t="THUNDERSPY">THUNDERSPY</h1>
		<h2 class="h1 flip" t="THUNDERSPY">THUNDERSPY</h2>

		<div class="ctas">
			<span class="motto">
				{% include multilingual_custom.html key="largermotto" article=site.data.mottos md=false %}
			</span>
			<span class="cta-container">
				<a href="#newstuff" class="cta">{% include multilingual_custom.html key="splash_whatsnew" article=site.data.localization md=false %}</a>
				<a href="#play" class="cta playnow">{% include multilingual_custom.html key="splash_playnow" article=site.data.localization md=false %}</a>

				<div>
					<a href="/patchnotes" class="cta smaller">{% include multilingual_custom.html key="btn_patchnotes" article=site.data.localization md=false %}</a>
					<a href="/news" class="cta smaller">{% include multilingual_custom.html key="btn_news" article=site.data.localization md=false %}</a>
					<a href="/wiki" class="cta smaller">{% include multilingual_custom.html key="btn_wiki" article=site.data.localization md=false %}</a>
					<a href="/guides" class="cta smaller guidelink">{% include multilingual_custom.html key="btn_guides" article=site.data.localization md=false %}</a>
				</div>
			</span>
			<span class="motto">
				{% include multilingual_custom.html key="smallermotto" article=site.data.mottos md=false %}
			</span>
		</div>
	</section>

	{% include section_highlights.html %}
	{% include section_media.html %}
	{% include section_playnow.html %}
	{% include section_latestpatch.html %}
	{% include section_policies.html %}
	
	<script src="/home.js"></script>
    {% include scripts.html %}
</body>
</html>
